name: Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
  pull_request:


jobs:
  show-context:
    runs-on: ubuntu-latest
    steps:
      - name: Show github context object
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github) }}
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: List local git config after checkout
        run: git config --local --list
      - name: Configure git
        uses: ./
        with:
          user.name: Tomohiko Ozawa
          user.email: kota65535@gmail.com
          github-token: ${{ secrets.PERSONAL_TOKEN }}
      - name: List local git config
        run: git config --local --list
      - name: List global git config
        run: git config --global --list
      - name: Checkout private repo by https
        run: git clone https://github.com/kota65535/tasks
      - name: Checkout private repo by ssh
        run: git clone git@github.com:kota65535/tasks.git
